{% load static %}
<div class="col-md-5 offset-md-2">
                        
    <div class="booking-box">
        <div class="head-box">
            <h6>{{condiction.title}}</h6>
            <h4>Забронировать</h4>
        </div>
        <div class="booking-inner clearfix">
            <form  class="form1 clearfix" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="input1_wrapper">
                            <label>Имя</label>
                            <div class="input1_inner">
                                <input type="text"  name='name' class="form-control baseinput"
                                    placeholder="ФИО">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input1_wrapper">
                            <label>Телефон</label>
                            <div class="input1_inner">
                                <input type="text" name='number' class="form-control baseinput"
                                    placeholder="Телефон">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="input1_wrapper">
                            <label>Дата</label>
                            <div class="input1_inner">
                                <input type="text" name = 'data' class="form-control input datepicker"
                                    placeholder="Дата">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="select1_wrapper">
                            <label>Взрослые</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="0">Взрослые</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="select1_wrapper">
                            <label>Дети</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="0">Дети</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" name = 'bron_form' class="btn-form1-submit mt-15">Забронировать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>